body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: lightblue;
	color: brown;
}

.button {
	background-color: brown;
	border-radius: 16px;
	text-align: center;
	color: lightblue;
}

pre {
	overflow-x: auto;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}

.flex-evenly {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly
}

.flex-between {
	display: flex;
	flex-direction: row;
	justify-content: space-between
}

.flex-column {
	display: flex;
	flex-direction: column;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
